<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytx.ai.agent.mapper.AgentRefIntentMapper">


    <select id="findAgentRefIntent" resultType="com.ytx.ai.agent.entity.AgentRefIntentEntity">
        SELECT ref.id,ref.agent_id agentId,ref.intent_id intentId,ref.tenant_id tenantId
        FROM ai_agent_ref_intent ref
        WHERE ref.agent_id=#{agentId}
    </select>
</mapper>